
/* === GENERELLES === */
:root {
    --NavbarFarbe: rgb(255, 255, 255);
    --primaryFarbe: rgb(12, 152, 218);
    --primaryFarbeTransparent: rgba(12, 152, 218, 0.4);
    --secondaryFarbe: rgb(39, 170, 231);
    --dritteFarbe: rgb(7, 116, 167);
    --transparent: rgba(0,0,0,0);
    --schwarz: rgb(0,0,0);
}

.primaryFarbe {
    background-color: rgb(12, 152, 218);
}

.secondaryFarbe {
    background-color: rgb(39, 170, 231);
}




body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    color: black;
}

.blurr {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    background-color: var(--secondaryFarbe);  
}
  
.poppins {
    font-family: 'Poppins', sans-serif;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

.quadrat { 
    height: 5px; 
    width: 5px; 
    background-color: #FF0000; 
     } 

.testrahmen {
    border: 1px violet solid;
} 

form #website{ display:none; }

/* === NAVIGATIONSLEISTE === */

.navbar {
    background-color: var(--NavbarFarbe);
    min-height: 100px;
}


.navbar li {
    border-bottom: 2px var(--NavbarFarbe) solid;
}


.navbar li:hover {
    border-bottom: 2px var(--primaryFarbe) solid;
}

.navbar span {
    color: 	var(--primaryFarbe);
}

#BerufNavbar {
    font-family: 'Nunito', 'Lato', sans-serif; 
    font-size: 1.2rem; 
    color: rgb(0, 0, 0)
}
#NameNavbar {
    font-family: 'Poppins', 'Lato', sans-serif; 
    font-size: 1.8rem;
    font-weight:bolder; 
    color: rgb(0, 0, 0);
}
/* === ÜBER MICH === */

#Background {
    background: url(img/Background.png);
    background-size: cover;
    width: auto;
    min-height: 100vh;
    height:  100%;
}


#profilbild {
    width: 200px; 
    height:200px;
}

#name {
    font-size: 1.4rem; 
    font-weight: bolder; 
    line-height: 1.8rem;
}

#Beruf {
    letter-spacing: 5px;
}

#FirstWord {
    font-size: 6rem;
}

#SecondPhrase {
    font-size: 1.6rem;
}

#Profilbox {
    margin-top: 15rem;
}

#Hallo-Text {
    margin-top: 15rem;
}


a:link{
    color:black;
  }
  a:visited{
    color:black;
  }
  a:hover{
    color:black;
  }
  a:focus{
    color:black;
  }
  a:active{
    color:black;
  }


/* === KONTAKT === */

#Background-Kontakt {
    background: var(--primaryFarbe);
    height: 100%;
    background-attachment: fixed;
}

.form-boxen {
 border-radius: 0px; 
 border:none; 
 border-bottom: 2px black solid;
}
input {
    text-indent: 0px;
}

.kontaktform {
    margin-left: auto;
    margin-right: auto; 
    max-width: 70%;
}

/* === LEBENSLAUF === */

#Background-Lebenslauf {
    background: var(--primaryFarbe);
    height: 100%;
    background-attachment: fixed;
}

.abschnittbox {
    background-color: white; 
    margin-top: 4rem; 
    box-shadow: -6px 10px 32px -2px rgba(0,0,0,0.5);
    padding: 3rem;
}

.Datum {
    font-size: 1.4rem;
    color: var(--dritteFarbe);
}

.position {
    font-size: 1rem;
    color: black;
}

.NameFirma {
    font-size: 1rem;
    color: black;
}

.Kompetenzen {
    font-size: 1.8rem;
    color: black;
}

.Amateur, .Fortgeschritten, .Profi {
    font-size: 1.6rem;
    color: black;
}

.btn-download {
    text-align: right;
    margin-top: 13rem;
}
.Arbeitserfahrung-Text {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

hr {
    visibility: hidden;
}

#Download-Spalte {
    max-width: 70%;
}


@media (max-width: 1199px) {
    .kontaktform {
        max-width: 80%; 
    }
    

}


/* === Queries === */
@media (max-width: 991.98px) {
    #profilbild {
        max-width: 170px;
        max-height: 170px;
    }

    #name {
        font-size: 1.3rem; 
        font-weight: bolder; 
        line-height: 1.8rem;
    }
    #Beruf {
        letter-spacing: 3px;
    }
    #FirstWord {
        font-size: 5rem;
    }



    /* === KONTAKT === **/
    .kontaktform {
        margin-left: auto;
        margin-right: auto; 
        max-width: 80%;
    }

    /* === LEBENSLAUF === */
    .Beschreibung {
        font-size: 1.2rem;
    }

    .Kompetenzen {
        font-size: 1.6rem;
        color: black;
    }
    
    .Amateur, .Fortgeschritten, .Profi {
        font-size: 1.4rem;
        color: black;
    }

    hr {
        visibility:visible;
    }


}

@media (max-width: 767.98px) {  
    #Background {
        background: var(--primaryFarbe);
        height: 100vh;
    }
    #profilbild {
        min-width: 200px;
        min-height: 200px;
    }
    #name {
        font-size: 1.8rem;
        font-weight: bolder; 
        line-height: 1.8rem;
    }
    #Beruf {
        letter-spacing: 6px;
        font-size: 1.8rem;
    }
    #FirstWord {
        font-size: 5rem;
    }

    #Hallo-Text {
        margin-top: 12rem;
    }


    div.form-group > div.row > div.col-md-6 > label {
        font-size: 1.1rem;
    }
    div.form-group > div.row > div.col-sm-12 > label {
        font-size: 1.1rem;
    }
    div.form-group > div.row > div.col-md-6:nth-child(2) {
        padding-top: 3rem;
    }
    .kontaktform {
        margin-left: auto;
        margin-right: auto; 
        max-width: 100%;
    }
    .btn-download {
        text-align: left;
        margin-top: 0rem;
    }
    .Arbeitserfahrung-Text {
        text-align: left;
    }

    hr {
        visibility:visible;
    }

    ul {
        padding-left: 1rem;
    }

    #Download-Spalte {
        max-width: 100%;
    }
    
    .abschnittbox {
        padding: 1rem;
    }
    
}


@media (max-width: 575.98px) {
    #BerufNavbar {
        visibility: hidden;
        font-size: .2rem;
    }
    #NameNavbar {
        font-size: 1.4rem;
    }

    hr {
        visibility:visible;
    }

    #Profilbox {
        margin: 0;
        margin-top: 15rem;
    }
    

    #Hallo-Text {
        margin-top: 10rem;
    }

    .Beschreibung {
        font-size: 1rem;
    }

    ul > li {
        font-size: 1rem;
        color: black;
    }

    .Kompetenzen {
        font-size: 1.4rem;
        color: black;
    }

    .Amateur, .Fortgeschritten, .Profi {
        font-size: 1.2rem;
        color: black;
    }

    .Arbeitserfahrung-Text {
        text-align: left!important;
    }

    .abschnittbox {
        padding: 0rem;
    }
    

}


