
/* === GENERELLES === */
:root {
    --NavbarFarbe: rgb(255, 255, 255);
    --primaryFarbe: rgb(12, 152, 218);
    --primaryFarbeTransparent: rgba(12, 152, 218, 0.4);
    --secondaryFarbe: rgb(14, 175, 250);
    --transparent: rgba(0,0,0,0);
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: black;
}

.blurr {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: var(--primaryFarbeTransparent);  
}
  


/* === NAVIGATIONSLEISTE === */

.navbar {
    background-color: var(--NavbarFarbe);
}


.navbar li {
    border-bottom: 2px var(--NavbarFarbe) solid;
}


.navbar li:hover {
    border-bottom: 2px var(--primaryFarbe) solid;
}

.navbar span {
    color: 	var(--primaryFarbe);
}

/* === ÜBER MICH === */

#Background {
    background: url(img/Titelbild.jpg);
    background-size: cover;
    width: auto;
    height: 100vh;
}