
/* === GENERELLES === */
:root {
    --NavbarFarbe: rgb(255, 255, 255);
    --primaryFarbe: rgb(12, 152, 218);
    --primaryFarbeTransparent: rgba(12, 152, 218, 0.4);
    --secondaryFarbe: rgb(39, 170, 231);
    --transparent: rgba(0,0,0,0);
    --schwarz: rgb(0,0,0);
}

.primaryFarbe {
    background-color: rgb(12, 152, 218);
}

.secondaryFarbe {
    background-color: rgb(39, 170, 231);
}




body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    color: black;
}

.blurr {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    background-color: var(--secondaryFarbe);  
}
  
.poppins {
    font-family: 'Poppins', sans-serif;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}



/* === NAVIGATIONSLEISTE === */

.navbar {
    background-color: var(--NavbarFarbe);
    min-height: 100px;
}


.navbar li {
    border-bottom: 2px var(--NavbarFarbe) solid;
}


.navbar li:hover {
    border-bottom: 2px var(--primaryFarbe) solid;
}

.navbar span {
    color: 	var(--primaryFarbe);
}

/* === ÜBER MICH === */

#Background {
    background: url(img/Background.png);
    background-size: cover;
    width: auto;
    height:  100vh;
}


#profilbild {
    width: 200px; 
    height:200px;
}

#name {
    font-size: 1.4rem; 
    font-weight: bolder; 
    line-height: 1.8rem;
}

#Beruf {
    letter-spacing: 5px;
}

#FirstWord {
    font-size: 6rem;
}

#SecondPhrase {
    font-size: 1.6rem;
}

@media (max-width: 991.98px) {
    #profilbild {
        max-width: 170px;
        max-height: 170px;
    }

    #name {
        font-size: 1.3rem; 
        font-weight: bolder; 
        line-height: 1.8rem;
    }
    #Beruf {
        letter-spacing: 3px;
    }
    #FirstWord {
        font-size: 5rem;
    }
}

@media (max-width: 767.98px) {  
    #Background {
        background: var(--primaryFarbe);
    }
    #profilbild {
        min-width: 200px;
        min-height: 200px;
    }
    #name {
        font-size: 1.8rem;
        font-weight: bolder; 
        line-height: 1.8rem;
    }
    #Beruf {
        letter-spacing: 6px;
        font-size: 1.8rem;
    }
    #FirstWord {
        font-size: 5rem;
    }
}


@media (max-width: 575.98px) {

}


