
  .scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #ed1c24;
}

.back-to-top i {
  color: black!important;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}


.gradient-custom {
  /* fallback for old browsers */
  background: rgba(60, 60, 60, 0.8);
  height:100vh;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, rgba(50,50,0,1), rgb(255,255,255));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, rgba(50,50,50,0), rgba(34, 30, 31, 1));
}

/* === Größen === */

h1 {
  font-size:3rem;
  /*color: rgba(255,255,255,1);*/
  color: rgba(35,31,32,1);
}

h4 {
  /* color: rgba(255,255,255,0.87); */
  color: rgba(35,31,32,1);
}
h5 {
  /* color: white; */
  color: rgba(35,31,32,1);

}
p {
  font-size: 1.5rem;
  /* color: rgba(255,255,255,0.87); */
  color: rgba(35,31,32,1);
}

/* === Generelles === */

body {
  font-family: 'Roboto';
}

.link-white {
  color:white;
}

.link-white:hover{
  color:white;
}

.seitenAbschnitt {
  min-height: 500px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.light {
  color: rgba(35, 31, 32,1);
  background-color: rgba(255,255,255,1);
  transition: all 0.3s ease-in-out;
}
.darker-light {
  background-color: rgba(230,230,230,1);
}

.red {
  background-color: rgb(160, 13, 30);
}

.red-light {
  background-color: #ed1c24;
  transition: all 0.3s ease-in-out;
}

.dark {
  background-color: rgba(35, 31, 32,1);
}

.transparent {
  background-color: rgba(0,0,0,0.0);
  transition: all 0.3s ease-in-out;
}

.schatten-navbar {
  box-shadow: 0px 2px 25px  rgba(35,31,32,1);
}

.schatten {
  box-shadow: 0px 2px 25px  rgba(50,50 ,50,1);

}


hr {
  border: 0;
  border-top: 1px solid rgb(237, 28, 35);
}

/* === Navigationsleiste === */
.navbar{
  padding-top: 0;
  padding-bottom: 0;
  min-height: 75px;
}

.nav-link {
  border-bottom: 4px solid rgb(20,20,20,0);
  transition: all 0.3s ease-in-out;
}

.navbar-nav > li > a {
  font-size: 1.2rem;
  color: rgba(35,32,31,1)!important;
}

.transparent  li  a {
  font-size: 1.2rem;
  color: rgba(255,255,255,1)!important;
}


.nav-link:hover {
  border-bottom: 4px solid rgb(237, 28, 35);
  transition: all 0.3s ease-in-out;

}

.navbar-nav > li {
    padding-left: 1.8rem;
}

.navbar-brand{
  font-size: 1.5rem;
}


/* === Background First Look*/
#intro {
  background: url("img/Titelbild.png");
  height:100vh;
  background-size: cover;
  backdrop-filter: blur(5px);
}

#intro h1 {
    font-size:4rem;
    color: rgba(35,31,32,1);
    /* color: rgba(255,255,255,0.87); */
    font-weight: bolder;
}

#intro h5 {
  font-weight: lighter;
  font-style: italic;
}

.mask {
  height:100vh;
  background-color: rgba(0,0,0,0.5);
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(40, 40,40, 1));
  /*background-image: url("../img/Wave-10s-1920px (3).svg");
  background-size: cover;*/
}

.mask-svg-unten {
  background-image: -webkit-linear-gradient(bottom, #c8c8c8, #c8c8c8 50%, transparent 50%, transparent 100%);
  background-image: linear-gradient(bottom, #c8c8c8, #c8c8c8 50%, transparent 50%, transparent 100%);
}


.mask-svg-oben {
  background-image: -webkit-linear-gradient(top, #c8c8c8, #c8c8c8 50%, transparent 50%, transparent 100%);
  background-image: linear-gradient(top, #c8c8c8, #c8c8c8 50%, transparent 50%, transparent 100%);
}

.mask-svg-oben2 {
 background-image: url("img/Wave_oben_2.svg");
  background-size: cover;
}

.mask-footer {
   background-image: url("img/Wave_grau_unten_footer.svg");
    /* background-size: cover; */
}

.mask-navbar {
  background-image: url("img/Wave_navbar.svg");
  background-size: cover;
  transition: all 0.3s ease-in-out;
}

/* === Willkommens-Bereich === */

#willkommen {
  padding-top: 6rem;
}

#willkommen h1 {
  font-weight: bolder;
  padding-top:2rem;
}


#willkommen p {
  font-weight: lighter;
  padding: 2rem 2rem;
  /* color: rgba(255,255,255,1); */
  color: rgba(35,31,32,1);
  font-size: 1.2rem;
}

#willkommen a {
  font-size: 1.2rem;
  color: white;
}

#willkommen span {
  margin-right: -9px;
}

#willkommen .card-header, #willkommen .card-footer {
  background-color: rgba(237, 28, 35,0.1);
}

/* === Foto-Slider === */

#headerCarousel, .carousel-item {
    height: 500px;
}

#slider h1 {
  color: rgb(237, 28, 35);
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-weight: bolder;
}

#slider p {
  font-size: 1.2rem;
  font-weight: lighter;
}

#slider a {
  font-size: 1rem;
  font-weight: lighter;
}

#slider h1 span {
  margin-right: -8px;
}

#sliderPadding {
  padding:0 75px 75px 75px;
}
.carousel-item img {
    min-width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(237, 28, 35,0.7);
}

.carousel .carousel-indicators .active {
  background-color: rgb(237, 28, 35);
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23a00d1e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23a00d1e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-caption h1, .carousel-caption p, .carousel-caption a{
    color: #181818;
}

/* === Service Bereich === */
.fas {
  color: rgb(237, 28, 35);
}

/* === Twitter-Feed === */

#twitter-bg {
  background: rgba(255,255,255,1);
  /*url("img/Chronik-bg.svg")*/
  background-size: cover;
  background-attachment: fixed;
}
#twitter h1 {
  padding-top: 3rem;
}

#twitter span {
  margin-right: -8px;
}
#twitter .twitter-timeline {
  max-width: 100%;
  max-height: 2200px;
}
#twitter .fab {
  font-size: 25px;
  color: #FFFFFF;
}

#twitter .panel {
 margin-top: 6rem;
 margin-bottom: 2rem;
}

#twitter .panel-title {
 font-size: 25px;
 color: #FFFFFF;
 padding-top:1rem;
 padding-bottom: 1rem;
}

#twitter .panel-heading {
 background-color: #1da1f2;
}


/* === Chronik === */

ul.timeline {
    list-style-type: none;
    position: relative;
    color: rgba(35,31,32,1);
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 3px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 8rem 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: rgb(237, 28, 35);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
#chronik {
    padding-top: 3rem;
}
#chronik h1 {
text-align: center;
padding-bottom: 3rem;
/* color: white; */
color: rgba(35,31,32,1);
}
#chronik span {
  margin-right: -8px;
}

#chronik a {
  color: rgba(35,31,32,1)!important;
  /* color: white; */
  font-size: 1.6rem;
}

#chronik p {
  font-size: 1.2rem;
  font-weight: lighter;
}

#chronik .date {
  color: rgb(237, 28, 35);
  font-size: 1.2rem;
  font-weight: normal;
  font-style: italic;
}


/* === Kalendar === */

.calendar .calendar-header {
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: 0;
}

.calendar .calendar-header .year-title {
  font-size: 18px;
}

.calendar .calendar-header .year-title:not(.year-neighbor):not(.year-neighbor2) {
  border-bottom: 2px solid #2196f3;
}

.calendar .months-container .month-container {
  height: 260px;
  margin-bottom: 25px;
  display:inline-block;
  margin-left: 25px;

}

.calendar .months-container .month-2{

  min-height:300px;
}

.calendar table.month {
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  min-height: 250px;
}

.calendar table.month th.month-title {
  background-color: #2196F3;
  color: white;
  padding: 12px;
  font-weight: 400;
}

.calendar table.month th.day-header {
  padding-top: 10px;
  color: #CDCDCD;
  font-weight: 400;
  font-size: 12px;
}

.calendar table.month td.day .day-content {
  padding: 8px;
  border-radius: 100%;
}

/* === FAQ === */

.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: rgba(255,255,255,0.5);
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
    color: rgba(33,33,42,1);
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-size: 3rem;
    font-weight: 900;
    content: "\f106";
    color: rgba(33,33,42,1);
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.3rem;
}

#AbsatzFAQ {
  font-size:1.5rem;
}



/* === Kontakt === */

#kontakt h2 {
  color: rgba(255,255,255,0.87);
}

#kontakt iframe{
  height:310px;
  width:100%;
  }



/* === Impressum ===*/

#footer p {
  color: white;
}

#modalImpressum p,#modalImpressum h5{
  color: rgba(33,33,42,1);
}



/* === Beitragsformatierung === */

.beitragabschnitt {
  font-size: 1.4rem; 
  padding: 1.5rem 0 0 0; 
  margin:0;
}

.bild_beitrag{
  height: 500px;
  width: 100%;
}

.BeitragButtonLinks {
  float:left; 
 }
 
 .BeitragButtonRechts {
   float:right; 
  }
 

.pc {
  visibility: visible;
  display: inline-block;
}

.mobile {
  display: none;
}

/* === Breakpoints === */
@media (max-width: 992px) {
  #über-uns .rounded-circle {
    max-width: 12rem;
    max-height:12rem;
  }

  #MailIcon {
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  #über-uns .rounded-circle {
    max-width: 10rem;
    max-height:10rem;
  }
}

@media (max-width: 575px) {
  #über-uns .rounded-circle {
    max-width: 15rem;
    max-height:15rem;
  }
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.3rem;
  }
  
  .BeitragButtonLinks {
    float:none;
  }

  .bild_beitrag{
    max-height: 250px;
    width: 100%;
  }

  .pc {
    display: none;
  }
  .mobile {
    visibility: visible;
    display:inline-block;
  }

  #suchbutton {
    display: none;
  }

  #search {
    padding-left: 1.5rem;
    max-width: 300px;
    padding-top: .5rem;
    padding-bottom: 1.5rem;
  }
}